<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://127.0.0.1:4321/css/bootstrap.min.css" />
		
		<style type="text/css">
		
a {
	text-decoration: none;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}
  table        {            border-collapse: collapse;            margin: 0 auto;            text-align: center;        }        
  table td, table th        {            border: 1px solid #cad9ea;            color: #666;            height: 30px;        }        
  table thead th        {            background-color: #CCE8EB;            width: 100px;        }        
  table tr:nth-child(odd)        {            background: #fff;        }        
  table tr:nth-child(even)        {            background: #F5FAFA;        }

</style>
	</head>
	<body>
		<DIV id="tkgl">
    <DIV id=header>
        
        <form method="get" name="searchform">
            <TABLE border=0 class="tablesorter" cellSpacing=1 cellPadding=6 width="100%">
                <TBODY>
                <TR>
                    <TD >        
                  	  退款处理
                       
                </TR>
                </TBODY>
            </TABLE>
        <input type="hidden" name="__hash__" value="145c14d6052f05a7d49a860273ceb053_edd8a18802a3ce5b879e24d8cc94f326" /></form>
    </DIV>
    <DIV id="tkxq"><BR>
        <FORM method=post name=form2 action="" id="listform">
           	<table border="0" cellSpacing="0" cellPadding="0" width="100%" height="100%">
			 <tr>
		 		<td>会员：</td>
			 	<td v-text="pro.userRealName"></td>
			 </tr>
			  <tr>
		 		<td>订单号:</td>
			 	<td v-text="pro.orderID"></td>
			 </tr>
			 <tr>
			 	<td>订单金额:</td>
			 	<td v-text="pro.totalPrice"></td>
			 </tr>
			 <tr>
		 		<td>申请原因:</td>
			 	<td v-text="pro.refundReason"></td>
			 </tr>
			  <tr>
		 		<td>申请日期:</td>
			 	<td v-text="pro.applicationTime"></td>
			 </tr>
			 <tr v-if="pro.point==1">
			 	<td>处理状态:</td>
			 	<td v-text="pro.auditStatus"></td>
			 </tr>
			 <tr v-else>
			 	<td>处理状态:</td>
			 	<td v-text="pro.adminStatus"></td>
			 </tr>
			 <tr v-if="pro.businessRemarks!=null">
			 	<td>商家处理</td>
			 	<td v-text="pro.businessRemarks"></td>
			 </tr>
			  <tr v-if="pro.auditTime!=null">
			 	<td>商家处理时间</td>
			 	<td v-text="pro.auditTime"></td>
			 </tr>
			  <tr v-if="pro.adminStatus==2 || pro.auditStatus==2">
			 	<td>退款金额</td>
			 	<td v-text="pro.actualRefundMoney"></td>
			 </tr>
			  <tr v-if="pro.point!=1 && pro.adminStatus==1">
			 	<td>退款金额</td>
			 	<td v-text="pro.totalPrice-pro.totalPrice*0.1"></td>
			 </tr>
			 <!-- 根据退款审核指向显示响应数据 -->
			   <tr v-if="pro.point==1 && pro.adminStatus==2">
			 	<td>管理员处理</td>
			 	<td v-text="pro.adminRemarks"></td>
			 </tr>
			  <tr v-if="pro.point!=1 &&  pro.adminStatus==1">
			 	<td>管理员处理</td>
			 	<td><input type="text" v-model="ok.ks"></td>
			 </tr> 
			
			   <tr v-if="pro.adminStatus==2">
			 	<td>管理员处理时间</td>
			 	<td v-text="pro.adminTime"></td>
			 </tr>
			 <tr>
			 	<td></td>
			 	<td>
			 			<span  v-if="pro.point!=1 &&  pro.adminStatus==1">
					   		<input type=button name="button" id="button" class="btn btn-success" value="同意" @click="fanghui()">
							<input type=button name="button" id="button" class="btn btn-success" value="拒绝" @click="fanghui()">
						</span>
					     	<input type=button name="button" id="button" class="btn btn-success" value="返回" @click="fanghui()">
					  
			 	</td>
			 </tr>
			 		
			</table>
			
		 	
           
		</FORM>
        <H4>&nbsp;</H4><!-- end #mainContent --></DIV>
        <DIV id=footer>
        <P>&nbsp;</P><!-- end #footer --></DIV><!-- end #container --></DIV>
	</body>
	<script type="text/javascript" src="http://127.0.0.1:4321/js/jquery-1.12.4.js"></script>
	
    <script type="text/javascript" src="http://127.0.0.1:4321/js/bootstrap.min.js"></script>
    
   	<script type="text/javascript" src="http://127.0.0.1:4321/js/menuJson.js"></script>
    
    <script type="text/javascript" src="http://127.0.0.1:4321/js/vue.js" ></script>
    <script type="text/javascript" src="http://127.0.0.1:4321/js/colorCss.js" ></script>
    <script type="text/javascript" src="http://127.0.0.1:4321/js/convert.js" ></script>
     <script type="text/javascript" src="http://127.0.0.1:4321/js/dialog.js" ></script>
    <script  >
    	
    	/* //解决跨域共享session问题
		jQuery.ajaxSetup({
			timeout: 6000,
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			async:false
		}); */
    	tkxq=new Vue({
    		el:"#tkxq",
    		data:{		
    			pro:{},	
    			ok:{
    				ks:""
    			}
    		},
    		methods:{
    			 querySj:function(id,p,s){
    				var page=this;
    				$.getJSON("http://127.0.0.1:4321//sys/fuwu/tk/querysrefundt/"+id+"/"+p+"/"+s,function(json){
    					page.pro=json.list[0];
    				
    				})
    			},
    			fanghui :function(){
    				window.location.href="http://127.0.0.1:4321/sys/index/tkgl";
    			}
					/* , 
    	    		update:function(pid){
    	    			var ok=this;
    	    			var page=this.kl;
						var stid=page.tids;
						var aid=page.aid;
    	    			var mid=new Array();
						var mids="";
						$.each($("[name=del]"), function(i,obj) {
							if($(obj).prop("checked")){
								mid[i]=$(obj).val();
							}
							if(mid[i]!=undefined){
								if(mids==null || mids==""){
									mids=mids+mid[i];
								}else{	
									mids=mids+","+mid[i];
								}
							}
						});
						
						if(mids){
							if(window.confirm('是否修改')){
							 $.ajax({
								type: "put",
								url: "http://127.0.0.1:4321/sys/fuwu/servicesupdate/"+mids+"/"+pid,
								dataType: "json",
								success: function(json) {
									if(json.code==200) {
										showAlertDialog('修改成功');
										
						    			ok.querySj(1,20,stid,aid);
						    			var xz = $("#qx").prop("checked");
						    			$("[name=del]").prop("checked",xz);
									} else {
										showAlertDialog('失败');
									}
								}
							});
							} 
						}else{			
							showAlertDialog('请选择');
						}
    	    		},
    	    		quanxuan:function(th){
    	    			
    	    			var xz = $("#qx").prop("checked");
    	    			
    	    	       	$("[name=del]").prop("checked",xz);
    	    		} */
    		},
    		created:function(){
    			var id=sessionStorage.getItem("id",id);	
    			this.querySj(id,1,20);
    			
			}
    	});	
    
    	
    </script>
</html>
